.activities{
    flex: 8;

    background-color: var(--color2);
    padding: 1%;
    display: flex;
    justify-content: center;
}

.activitiescontainer{
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 1%;
}

.activityList{
    flex: 1;
    list-style-type: none;

    font-size: 3rem;
}

.colName{
    display: flex;
}

.activityList>li .activitySummary{
    display: flex;
}

.activityList .buttons{
    display: flex;
}

.searchBar>input{
    width: 50vw;
    height: 3rem;

    font-size: 2.5rem;
}

.activity:hover{
    background-color: white;
    cursor: pointer;
}

.name{
    margin-right: auto;
}

.buttons{
    margin-left: 10px;
}

.createDiv{
    width: 100%;
    display: flex;
}

.createList{
    display: flex;
    flex-direction: column;
}
.categoryList{
    font-size: 2rem;
}

.categoryListItems{
    display: flex;
    gap: 10px;
}

/* 
*{
    outline: red solid 1px;
} */