/*https://fonts.google.com/specimen/Bebas+Neue*/
:root{
  --color1: #b85042;
  /* --color2: #E7E8D1; */
  --color2: #c6c7be;
  --color3: #A7BEAE;
  --color4: #190b09;
  --fontStyle1: 'Bebas Neue', sans-serif;;
}

:root{
  --color1: #2d3142;
  --color2: #bfc0c0;
  --color3: #E2E2E2;
  --color4: #2d3142;
}


html,body{
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}


*, *:before, *:after {
  font-family: var(--fontStyle1);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* * {
  outline: 1px solid #f00 !important;
} */

#root{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}