.formcontainer{
    flex: 1;

    display: flex;
    flex-direction: column;

    color: var(--color3);

}

.formcontainer input{
    background-color: var(--color3);
}

.categorybuttons{
    display: flex;
    margin: 3px 0px 10px 0px;
}

.categorybuttons button{
    flex: 1;
}

.backsubmit{
    display: flex;
}

.backsubmit button[type=submit]{
    margin-left: auto;
}