.modalLeft,
.modalRight {
    background-color: rgba(0, 0, 0, 0.759);
    border: 1px solid black;

    padding: 8%;
    
    position: absolute;
    top: 0;
    z-index: 1;

    display: flex;

    color: var(--color3);

    flex-direction: column;
    min-width: max-content;
    
}

.modalLeft {
    right: 100%;
}

.modalRight {
    left: 100%;
}


.modal h1{
    font-size: 2.5rem;
}

.time{
    font-size: 0.9rem;
}

.activityInfo{
    padding: 15px 0px;

}

.activityInfo>ul{
    list-style-type: none;
}

.modal button{
    margin-top: 5px;
}

.error{
    color: red;
    font-size: 1rem;
}