.monthlyActivities{
    position: relative;
    text-align: center;
    color: var(--color3);

    display: flex;
    flex-direction: column;
    
}

.monthlyActivities>h2{
    font-size: 3rem;
}

.barGraph{
    width: 99%;
    overflow: hidden;
    flex: 1;
}