.trackers{
    padding: 2%;

    position: relative;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50vh;
    grid-template-areas: 
    "weekly monthly"
    "yearly yearly";
    gap: 1%;
}

.weekly{
    grid-area: weekly;
}

.monthly{
    grid-area: monthly;
}

.yearly{
    grid-area: yearly;
}