.day{
    background-color: grey;
    border: 2px solid black;
    padding: 1%;
    cursor: pointer;
    
    position: relative;
}

.day:hover{
    background-color: rgba(128, 128, 128, 0.405);
}

.day .num{
    text-align: right;
}
