.daycontainer{
    position: relative;
}

.day{
    background-color: var(--color3);
    border: 1px solid black;
    padding: 1%;
    cursor: pointer;
    height: 100%;
    
    text-overflow: ellipsis;
    overflow: hidden;
}

.day:hover{
    /* background-color: #a7beaeb6; */
}

.day .num{
    text-align: right;
    font-size: 1.5rem;
}

.eventsummary{
    display: flex;
    flex-direction: column;
    gap: 2.5px;
    list-style: none;

    color: var(--color4);
    font-weight: 600;   
}

.eventsummary>li{
    padding: 2px;
    /* background-color: rgba(0, 0, 0, 0.415); */
    background-color: #4f5d7565;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.eventsummary>li:hover{
    background-color: #4f5d75;
}

