.modal {
    background-color: rgba(0, 0, 0, 0.759);
    border: 1px solid black;

    width: 150%;
    height: 150%;
    padding: 2%;
    
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;

    display: flex;
    flex-direction: column;
}

.modal form{
    background-color: red;
    padding: 5px;
}

.activity {
    background-color: yellow;
}

.hide{
    display: none;
}