.modal {
    background-color: rgba(0, 0, 0, 0.759);
    border: 1px solid black;

    padding: 3%;
    
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;

    display: flex;
}